name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: dotnet-sonarscanner
        # You may pin to the exact commit or the version.
        # uses: Secbyte/dotnet-sonarscanner@10230bbd60c5b727532504308cba3c6577deba14
        uses: Secbyte/dotnet-sonarscanner@v2.3
        with:
          # Command to invoke build
          buildCommand: dotnet build
          # Command to invoke tests
          testCommand: dotnet test # optional
          # Specifies the key of the analyzed project in SonarQube
          projectKey: TomiEckert_100-prisoners-stress
          # Specifies the name of the analyzed project in SonarQube
          projectName: 100-prisoners-stress
          sonarOrganisation: tomieckert
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: 3.1.x
